header {background-color: #333333;}

body  {   font-family: "Noto Sans", sans-serif;
  				background-color: #E7E7E7;
  				min-height: 100vh;}

nav a {   padding: 5px;
          background-color: #E7E7E7;
          min-height: 10vh;}

button {  font-size: 15px;
          color: #1F9AFE;}